namespace Modules\Shared\DTOs;

use Modules\Shared\Attributes\Rules;
use ReflectionClass;

abstract class BaseDTO
{
    /**
     * Derives validation rules from #[Rules] attributes on constructor parameters.
     * Interfaces/FormRequests perform validation before constructing DTOs.
     */
    public static function rules(): array
    {
        $rules = [];
        $constructor = (new ReflectionClass(static::class))->getConstructor();

        if ($constructor === null) {
            return $rules;
        }

        foreach ($constructor->getParameters() as $param) {
            $attrs = $param->getAttributes(Rules::class);
            $rules[$param->getName()] = $attrs ? $attrs[0]->newInstance()->rules : [];
        }

        return $rules;
    }
}
